@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
body {
    margin: 0;
}
.wrapper {
    height: 100vh;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.content {
    font-family: 'Roboto', sans-serif;
    width: 336px;
    min-height: 236px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto
}

.header {
    width: 100%;
    height: 28px;
    background: #FFDC40;
    border-radius: 9px 9px 0 0;
}

.headerName {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 26px;
}

.sortButton {
    display: flex;
    justify-content: flex-end;
    width: 305px;
}

#sort {
    background: url("images/Group\ 74.svg") no-repeat;
    width: 25px;
    height: 15px;
    border: 0;  
    cursor: pointer;
}

#sort:hover {
    background: url("images/Group\ 73.svg") no-repeat;
}

.addTask {
    position: relative;
    display: flex;
    justify-content: center;
}

#newTask {
    width: 286px;
    min-height: 40px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 9px;
    padding: 1px 27px;
    font-size: 14px;
    outline: none;
    font-family: Roboto;
  }

#resetTask {
    border-radius: 71px;
    color: #C4C4C4;
    position: absolute;
    right: 52px;
    top: 19px;
    width: 20px;
    height: 20px;
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}

#resetTask:hover {
    background-color: #833AE0;
    color: #FFFFFF;
    border: 0;
  }

#enter {
    background-color: #833AE0;
    font-family: Roboto;
    font-size: 14px;
    height: 42px;
    width: 150px;
    color: #FFFFFF;
    border-radius: 71px;
    border: 0;
    margin-top: 18px;
    margin-bottom: 19px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#enter:hover {
    background: #9953F1;
}

#enter:hover .plus {
    background: #AA68FE;
}

.plusButton {
    display: flex;
    justify-content: center;
}

.plus {
    background: #9953F1;
    border-radius: 71px;
    display: inline-flex;
    width: 42px;
    height: 42px;
    position: relative;
    right: 22px;
    justify-content: center;
    align-items: center;
}

.taskList {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 9px;
    font-size: 14px;
    line-height: 300%;
    font-family: Roboto;
    padding: 0px 27px;
    display: none;
}

.taskList ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.liItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    cursor: pointer;
}

.liItem:active {
    cursor: move;
}

.spanItem {
    outline: none;
    width: 200px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.liButton {
    border-radius: 71px;
    color: #C4C4C4;
    width: 20px;
    height: 20px;
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}

.liButton:hover {
    background-color: #833AE0;
    color: #FFFFFF;
    border: 0;
  }

  .selected {
    opacity: 0.6;
  }
