@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

.wrapper {
    font-family: 'Roboto', sans-serif;
    margin: 232px auto;
    width: 336px;
    min-height: 236px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-sizing: border-box;
}

.header {
    position: absolute;
    width: 334px;
    height: 28px;
    background: #FFDC40;
    box-sizing: border-box;
    border-radius: 9px 9px 0 0;
}

h1 {
    padding-top: 23px;
    font-size: 26px;
    display: flex;
    justify-content: center;
}

#sort {
    background-color: #FFFFFF;
    border: 0;  
    margin-left: 274px;
    cursor: pointer;
}

.addTask {
    position: relative;
    display: flex;
    justify-content: center;
}

#newTask {
    width: 286px;
    min-height: 40px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 9px;
    padding: 1px 27px;
    font-size: 14px;
    outline: none;
    font-family: Roboto;
  }

#deleteTask {
    border-radius: 71px;
    color: #C4C4C4;
    position: absolute;
    right: 52px;
    top: 19px;
    width: 20px;
    height: 20px;
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-left: 6px;
}

#deleteTask:hover {
    background-color: #833AE0;
    color: #FFFFFF;
    border: 0;
  }

#enter {
    background-color: #833AE0;
    font-family: Roboto;
    font-size: 14px;
    height: 42px;
    width: 150px;
    color: #FFFFFF;
    border-radius: 71px;
    border: 0;
    margin-top: 18px;
    margin-bottom: 19px;
    cursor: pointer;
}

.plusButton {
    display: flex;
    justify-content: center;
}

.plus {
    background: #9953F1;
    border-radius: 71px;
    display: inline-flex;
    width: 41px;
    height: 41px;
    position: relative;
    right: 22px;
    justify-content: center;
    align-items: center;
}

.taskList {
    width: 286px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 9px;
    font-size: 14px;
    line-height: 300%;
    font-family: Roboto;
    padding: 0px 27px;
    display: none;
}

.taskList ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.edit-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}

.liButton {
    border-radius: 71px;
    color: #C4C4C4;
    width: 20px;
    height: 20px;
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-left: 6px;
    transform: rotate(45deg);
}

.liButton:hover {
    background-color: #833AE0;
    color: #FFFFFF;
    border: 0;
  }